<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name, 'Keyword'%>
  <%= f.search_field :name_or_address_cont%><br>
  <%= f.label :age%>
  <%= f.number_field :age_gteq%>才以上
  <%= f.number_field :age_lt%>才未満
  <%= f.label :sex%>
  <%= f.radio_button :sex_eq, '', checked: true%>指定なし
  <%= f.radio_button :sex_eq, 0%>女性
  <%= f.radio_button :sex_eq, 1%>男性
  <p><%= f.submit '検索'%></p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, 'Name')%></th>
      <th><%= sort_link(@q, :age, 'Age')%></th>
      <th><%= sort_link(@q, :sex, 'Sex')%></th>
      <th><%= sort_link(@q, :address, 'Address')%></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
