<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :new_label%>
    <%= form.text_field :new_label, placeholder: '新しいラベルを追加' %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :content) do |l|%>
      <%= l.label%>
      <%= l.check_box%>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
